<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Most Liked Fossils</title>
  </head>
  <body>
    <h1>Welcome, {{name}} </h1>
    {% for fossil in MOST_LIKED_FOSSILS %}
    <div class="fossil-div">
      <h3>{{name}}, this is a {{ fossil.name }}</h3>
      <h2>Liked {{ fossil.num_likes }} times.</h2>
      <img src="{{ fossil.img }}" />
    </div>
    {% endfor %}
    <form name="topFossils" action="/like-fossil" method="post">
    <select  name="dropDown" id="dropDown">
      <option id="aust" value="aust" name="Australopithecus">Australopithecus</option>
      <option id="quetz" value="quetz" name="Quetzal">Quetzal</option>
      <option id="steg" value="steg" name="Stegosaurus">Stegosaurus</option>
      <option id="trex" value="trex" name="Tyrannosaurus Rex">Tyrannosaurus Rex</option>
    <input type="submit">
  </select>
    
  </form>
  </body>
</html>
